:root {
  --primary-color: #1d2d44;
  --secondary-color: #F0EDB8;
  --accent-color: #748cab;
  --text-color: #0d1321;
  --font-family-heading: "Playfair Display", serif;
  --font-family-body: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-family-body);
  display: grid;
}
header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  font-family: var(--font-family-heading);
}
main {
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: grid;
  padding: 1.5rem;
  max-width: 100%;
}

section {
  border: var(--accent-color) solid 0.5px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 20px;
}
section h2, 
section h3 {
  text-align: center;
}
.wireframe{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 780px) {
  body{
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .wireframe{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wireframe h2 {
    grid-column:  1 / -1;
    text-align: center;
  }
  img {
    width: 100px;
  }
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
}