body {
  font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
  max-width: 760px;
  margin: 0 auto;
}

.banner {
  padding: 1rem;
  background-color: #eee;
}

h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
main h2 {
  grid-column: 1 / 3;
}
h2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: navy;
  text-align: left;
}

article p {
  text-align: justify;
}

.callout {
  color: #fff;
  background-color: #4a1638;
  padding: 1rem;
  grid-column: 1 / 3;
}

footer {
  margin-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: smaller;
  text-align: left;
}