body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 3fr minmax(100px, auto);
    height: 100vh;
}
header{
  background-color: dimgray;
  display: flex;
  flex-direction: column;
}

header p {
  color:aliceblue;
  padding: 10px;
  
}
.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: auto;
}

.menu li{
  flex: 1 1 auto;
}

.menu a{
  display: block;
  text-decoration: none;
  color: aliceblue;
  text-align: center;
  padding: 0.55rem;  
  transition: 0.5s;
}

.menu a:hover {
  font-weight: 800;
  color: dimgray;
  background-color: aliceblue;
  
}

main {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.main-content {
  background-color: antiquewhite;
  padding: 10px;
}
.aside-content {
  background-color: aliceblue;
  padding: 10px;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dimgray;
  color: aliceblue;
}