body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 2fr auto;
}

header {
  background-color: #2A4B7C;
  padding: 20px 0 0 0;
  color: #ffffff;
}

#course-title {
  display: block;
  text-align: center; 
  color: #ffffff; 
  font-size: 20px;  
}
nav {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 5px;
  justify-content: center;
  gap: 2rem;
}
.navigation a {
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.navigation a:hover {
  background-color: #ffffff;
  color: #000000;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

main h1 {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 20px;
}

.card:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 30px;
  padding: 15px;
  box-shadow: 0 0 5px #808080;
  border-radius: 10px;
  background-color: #d8f4ff;
}

.card:first-of-type h2 {
  grid-column: span 2;
  text-align: center;
  margin-top: 0;
}

.card:first-of-type p {
  margin: 0;
}

.card:first-of-type img {
  width: 180px;
  border-radius: 5px;
  object-fit: cover;
  justify-self: end;
}

.card:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-shadow: 0 0 5px #808080;
  border-radius: 10px;
  background-color: #d8f4ff;
}

.card:last-of-type h2 {
  margin-top: 0;
  text-align: center;
}

.card:last-of-type p {
  text-align: center;
  margin: 10px 0;
}

.card:last-of-type img {
  width: 180px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 10px;
}

footer {
  background-color: #2A4B7C;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}