body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 2fr auto;
}

header {
  background-color: #2A4B7C;
  padding: 20px 0 0 0;
  color: #ffffff;
}

#course-title {
  display: block;
  text-align: center; 
  color: #ffffff; 
  font-size: 20px;  
}
.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 5px;
  justify-content: center;
  gap: 2rem;
}
.navigation a {
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.navigation a:hover {
  background-color: #ffffff;
  color: #000000;
}

main {
  background-color: #ffffff;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}
main h1 {
  text-align: center;
  margin-top: 0;
}
main .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
main .card {
  padding: 15px;
  gap: 10px;
  box-shadow:0 0 5px #808080;
  border-radius: 10px;
  background-color: #d8f4ff;
}
.card img {
  width: 180px;
  border-radius: 5px;
  box-shadow: 0 0 0.5px;
}
.card h2 {
  text-align: center;
}
.aboutme {
  display: grid;
  grid-template-columns: 2fr auto ;
  padding: 10px;
  gap: 1.5rem;
  align-items:center;
  box-shadow: 0 0 2px gray;
  border-radius: 5px;
  background-color: #ffffff;
}
.chiclayo {
  display: grid;
  grid-template-columns: 2fr auto;
  padding: 10px;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 0 2px gray;
  border-radius: 5px;
  background-color: #ffffff;
}
.interests {
  display: grid;
  grid-template-columns: 2fr auto;
  padding: 10px;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 0 2px gray;
  border-radius: 5px;
  background-color: #ffffff;
}
footer {
  background-color: #2A4B7C;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}