@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
    display: block;
  }
  nav ul {
    justify-content: flex-end;
    flex-direction: row;
  }
  .hamburger {
    display: none;
  }
  main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 960px;
  }
  main h2 {
    grid-column: 1 / -1;
    text-align: center;
  }
  figure {
    padding: 0;
  }
}